@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --main-bg-color: #889c9b;
    --heading-color: #486966;
    --light-color: #B2BEBF;
    --dark-color: #1F2024;
    --link-color: #BD2A2E;
    --decor-color: #004F4D;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-bg-color);
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
    color:var(--dark-color);
}

header, nav{
    background-color: #889c9b;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png"); 
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-family: "Playfair Display", serif;
    color: var(--dark-color);
}

a{
    color: var(--link-color);
}

.navlink{
    color:var(--dark-color);
    text-decoration-color: var(--decor-color);
}
.navlink:hover{
    color: var(--link-color);
}

body#about img {
    height: 15em;
    margin-top: var(--vertical-space);
    margin-bottom: var(--vertical-space);
    -webkit-box-shadow: -10px 10px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 3px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 3px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head  head"
        "nav  nav"
        "main  main"
        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        display: grid;
        grid-template-areas: "head  main"
            "nav  main"
            "nav foot";
        grid-template-columns: 2fr 6.5fr;
        grid-template-rows: auto 1fr auto;
    }

    #family{
        margin-left: 2em;
    }
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
    text-align: center;
}

body>nav ul {
    list-style-type: none;
    padding: 0;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;
}

header{
    padding-top: 1.33em;
    text-align: center;
}

@media screen and (max-width: 25em){
    header{
        padding-bottom: 0px;
    }
    #family{
        display: none;
    }
}

header h1,
footer h1 {
    margin: 0;
    color: var(--dark-color);
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }   
}

body#portfolio ul#portfolioItems li img{
    max-width:85%;
}

footer{
    font-weight: bold;
    padding-bottom: var(--vertical-space);
    padding-top: var(--vertical-space);
}

h1{
    padding-bottom: .6em;
    margin-bottom: 0;
}

.rule{
    border-color: var(--decor-color);
}

#oops{
    margin: 0;
    padding:.5em;
}

.aboutImages{
    display:flex;
    justify-content: center;
}