body{
    padding-left: 3em;
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3{
    line-height: 1.1;
}

body#about img { height: 15em; 
border-color: maroon;
border-radius: 10px;
}

body#portfolio img {height: 25em;}

p{
    max-width: 50em;
}